.bg {
    width: 100%;
    height: 100%;
    background-image: url('img/bg.png');
    z-index: -99;
    position: fixed;
    left: 0;
    right: 0;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.full {
/*    background-image: url('img/bg.png');*/
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
}

.full * {
    margin: 5px;
    padding: 2px;
    text-align: center;
    color: #ffffff;
}

.full .md-button.md-raised.md-primary{
    width: 200px;
    height: 40px;
    border-radius: 80px;
    border: 1px solid #ddd;
    background: none;
}


.full .md-button.md-raised.md-primary:hover {
    background: none !important;
}


.full .md-button.md-raised.md-primary:focus {
    background: none !important;
}

#big-video-vid_html5_api {
    -webkit-filter: blur(1px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}








