/**
 * Created by sam on 1/16/15.
 */

.main-content md-toolbar {
    height: 120px;
    background-color: #20B2AA;
}

#header {
    color: white;
}

#header .md-button{
    color: white;
}
#header div {
    
}

#header .logo {
    text-align: center;
}

#header .pull-right {
/*    position: absolute;*/
    text-align: right
}

md-content.main-content {
    background-color: #FBFBFB;
    color: #20B2AA;
}

.middle-content {
    background-color: #FBFBFB;
    width: 100%;
    align-content: center;
    text-align: center;
    margin: auto 10px;
    overflow: hidden;
}

.middle-content #annouce {
    font-size: 24px;
    padding: 5px 20px;
    margin: 0px;
}

/* Divider */
.divider {
    margin: auto 10px;
}

/* Margin for Charts section */
.charts { 
    margin: 10px;
}

/* Margin for each chart */
.charts div {
    margin: 20px;
    height: 340px;
}

.charts div div {
    font-size: 15px;
    color: #C7C7C7;
}

.charts .portfolio {
    color: #20B2AA;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.charts .legend {
    margin: 12px;
}

.md-button.md-raised.md-primary.invest {
    color: white;
    border-radius: 200px;
}

.invest {
    margin: 25px;
    width: 240px;
}

html .md-tile-content p {
    line-height: 1.2;
} 

.face {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
/*    margin: 16px;*/
    margin-right: 20px;
}

/* CHANGE DIALOG WIDTH ??? */
md-dialog {
    width: 320px;
}
md-dialog md-content {
    padding: 0px;
}

md-dialog md-item md-item-content {
    margin: 0 20px;
}

#md-toolbar {
    
}

#md-linear {
    position: absolute;
    top: -5px;
    z-index: 99;
}

#money-graph {
    height: 125px;
    
    margin: 30px 10px 0px 0px;
}

#your-money {
    margin-left: 5px;
    color: white;
}

#your-money h3 {
    text-align: center;
}

#your-money h4 {
    text-align: center;
    font-size: 25px
}

#modal-alert {
    margin: 5px 5px 5px 20px;
    color: red;
}

#slider {
    margin: 0px 30px;
/*    padding: 0px 10px;*/
}

/*
.c3-axis.c3-axis-x line {
    stroke: white;
    color: white;
    fill: white;
}

.c3-axis.c3-axis-y line {
    stroke: white;
    color: white;
    fill: white;
}
*/

/*
.c3 line {
    stroke: white;
}*/
